:root {
    --white-color: 252, 237, 126; /* #FCED7E, a sunny yellow */
    --dark-color: #3D1D18;
    --bright-color: #F27D72; /* The primary background color */
    --muted-color: 252, 173, 114 ; /* #RCAD72, more of a peachy color */
  }
  img.resize {
    width:130px;
    height:180px;
    /* float:right;    */
    justify-content: center;
  }
  
  /* latin */
  @font-face {
    font-family: 'Delius Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/deliusswashcaps/v12/oY1E8fPLr7v4JWCExZpWebxVKORpXUeaIGajv1Yt.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v18/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMDr0fJh1Zyc61YBlG.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v18/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMDrMfJh1Zyc61YA.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* Our work from Session 19, letting the content breath a bit */
  body {
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.2;
  }
  h1 {
    font-family: 'Delius Swash Caps', cursive;
  }
  
  /* Now we add some layout.  I'm thinking left nav on bigger screens,
   * and horizontal nav on smaller screens?
   * I used https://grid.layoutit.com/ as a starting point for generating
   * the grid. */
  
  body {
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "head main"
      "nav main"
      "nav foot";
      /* gradient generated by: https://www.gradientmagic.com/collection/retro/gradient/1568807554486 */
      /* Other cool backgrounds can be found at:
       *  * https://www.transparenttextures.com/
       *  * https://www.gradientmagic.com/
       *  * https://www.toptal.com/designers/subtlepatterns/
       */
    background-image: linear-gradient(135deg, rgb(252, 121, 102) 0%, rgb(252, 121, 102) 54%,rgb(245, 189, 51) 54%, rgb(245, 189, 51) 61%,rgb(254, 99, 119) 61%, rgb(254, 99, 119) 66%,rgb(250, 144, 85) 66%, rgb(250, 144, 85) 69%,rgb(243, 211, 34) 69%, rgb(243, 211, 34) 84%,rgb(247, 166, 68) 84%, rgb(247, 166, 68) 100%);
    margin: 0;
    padding: 1.5rem;
  }
  
  body > header {
    grid-area: head;
  }
  body > nav {
    grid-area: nav;
  }
  body > nav ul {
    margin-top: 0;
    padding-left: 1em;
    list-style-type: "★";
  }
  body > nav ul li {
    padding-left: 0.5em;
  }
  body > nav a {
    color: #3D1D18;
    color: var(--dark-color);
  }
  body > main {
    grid-area: main;
    padding: 0 1rem;
    background-color: rgba(var(--white-color), 0.6);
  }
  body > footer { grid-area: foot; }
  body > main img { max-width: 100%; }
  body > * > h1:first-child {
    line-height: 1;
  }
  
  @media only screen and (max-width: 36rem) {
    body {
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas:
        "head head"
        "nav nav"
        "main main"
        "foot foot";
    }
  }
  
  section#portfolio {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  
  section#portfolio .portfolio-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  section#portfolio .portfolio-item > h2 {
  
  }
  section#portfolio .portfolio-item > p {
  
  }
  section#portfolio .portfolio-item > img {
    align-self: flex-end;
  }
  
  @media only screen and (min-width: 50rem) {
    section#portfolio .portfolio-item {
      padding-right: 2%;
      flex-basis: 48%;
    }
  }
  
  @media only screen and (min-width: 72rem) {
    section#portfolio .portfolio-item {
      padding: 2%;
      flex-basis: 29%;
    }
  }
  