
  img.resize {
    width:130px;
    height:180px;
    /* float:right;    */
    justify-content: center;
  }
  
  body {
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.2;
  }
  h1 {
    font-family: 'Delius Swash Caps', cursive;
  }
  

  
  body {
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "head main"
      "nav main"
      "nav foot";
    background-color:#097ebd;
    margin: 0;
    padding: 1.5rem;
  }
  
  body > header {
    grid-area: head;
  }
  body > nav {
    grid-area: nav;
  }
  body > nav ul {
    margin-top: 0;
    padding-left: 1em;
    list-style-type: "★";
  }
  body > nav ul li {
    padding-left: 0.5em;
    color: white;
  }
  body > nav a {
    color: #3D1D18;
    color: var(--dark-color);
  }
  body > main {
    grid-area: main;
    padding: 0 1rem;
    background-color:aliceblue;
  }
  body > footer { grid-area: foot; }
  body > main img { max-width: 100%; }
  body > * > h1:first-child {
    line-height: 1;
  }
  
  @media only screen and (max-width: 36rem) {
    body {
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas:
        "head head"
        "nav nav"
        "main main"
        "foot foot";
    }
  }
  
  section#portfolio {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  
  section#portfolio .portfolio-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
 
  section#portfolio .portfolio-item > img {
    align-self: flex-end;
  }
  
  @media only screen and (min-width: 50rem) {
    section#portfolio .portfolio-item {
      padding-right: 2%;
      flex-basis: 48%;
    }
  }
  
  @media only screen and (min-width: 72rem) {
    section#portfolio .portfolio-item {
      padding: 2%;
      flex-basis: 29%;
    }
  }
  
